@import "~common/scss/mixin";
@import "~common/scss/variable";

.form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0 18px;
  background: #fff;

  .form-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px;
    position: relative;
    font-size: $font-size-medium;

    &.is-textarea {
      .item-input-wrapper {
        padding: 5px 0;
      }
    }

    .item-label {
      width: 75px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 75px;
      flex: 0 0 75px;
      text-align: right;
      padding-right: 16px;
    }

    .item-input-wrapper {
      position: relative;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 40px;
      border: 1px solid #9d9d9d;
      border-radius: 8px;
      padding: 0 8px;
      background: #eee;
      min-width: 128px;

      .item-input {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        line-height: 1.6;
        background: transparent;
      }

      .hide-area {
        position: absolute;
        visibility: hidden;
      }

      textarea {
        width: 100%;
        background: transparent;
      }

      .error-tip {
        position: absolute;
        right: 8px;
        top: 12px;
        white-space: nowrap;
        font-size: $font-size-medium;
        color: #ff0000;
      }
    }
    .item-btn {
      padding-left: 10px;
      width: 120px;

      button {
        width: 100%;
        height: 40px;
        line-height: 40px;
        white-space: nowrap;
        border-radius: 6px;
        font-size: $font-size-medium;
        background: $color-cancel-background;
        color: #fff;

        &[disabled] {
          background: $color-disable-background;
        }
      }
    }
  }

  select {
    font-size: $font-size-medium;
  }

  .form-btn {
    margin-top: 20px;
    width: 100%;

    button {
      display: block;
      width: 100%;
      line-height: 40px;
      border-radius: 6px;
      font-size: $font-size-medium-x;
      background: #9ba9b5;
      color: #fff;

      &[disabled] {
        background: $color-disable-background;
      }
    }
  }
}

.rich-text-description {
  padding: 15px;
  padding-top: 10px;
  font-size: 12px;

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }

  h1, .h1 {
    font-size: 36px;
  }

  h2,.h2 {
    font-size: 30px
  }

  h3,.h3 {
    font-size: 24px
  }

  h4,.h4 {
    font-size: 18px
  }

  h5,.h5 {
    font-size: 14px
  }

  h6,.h6 {
    font-size: 12px
  }

  p, h1, h2, h3, h4, h5 {
    margin: 10px 0;
    line-height: 1.8
  }

  ul, ol {
    padding-left: 20px;

    li {
      margin-bottom: 13px;
    }
  }

  a {
    line-height: 33px;
    color: #337ab7;
  }

  blockquote {
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1
  }

  table {
    border: 0;
    border-collapse: collapse;

    td, th {
      border: 1px solid #999;
      padding: 3px 5px;
      min-width: 50px;
      height: 20px;
    }
  }

  pre {
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    padding: 10px;
    margin: 5px 0;
    font-size: .8em;
    border-radius: 3px;
  }

  img {
    max-width: 100%;
  }
}

.picker {
  z-index: 200 !important;
}
