// 颜色定义规范
$primary-color: #062745;
$color-background: #f5f5f5;
$color-background-d: rgba(0, 0, 0, 0.3);
$color-highlight-background: #fff;
$color-disable-background: #ddd;
$color-cancel-background: #b2b2b2;
$color-border: #ddd;
$color-text: #4d4d4d;
$color-text-d: #444;
$color-text-l: #888;

//字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;
$font-size-large-xx: 24px;
